.range__wrapper {
    .noUi-connects{
        background-color: #171717;
        height: 25px;
    }
    .noUi-target {
        border:none;
    } 
    .noUi-connect {
        background-color: #2AC2F2;
    }
    .noUi-handle{
        // background-color: transparent;
        border: 0;
        box-shadow: none;
        top:1;
        cursor: pointer;
        img{
            width: 50px;
        }
    }
}