.range__wrapper {
    .noUi-connects{
        background-color: #171717;
        height: 25px;
    }
    .noUi-target {
        border:none;
    } 
    .noUi-connect {
        background-color: #2AC2F2;
    }
}