@mixin OpenSans-400 {
  font-family: 'OpenSans',
    sans-serif;
  font-weight: 400;
}

@mixin OpenSans-600 {
  font-family: 'OpenSans',
    sans-serif;
  font-weight: 600;
}

@mixin _1670 {
  @media (max-width: 1670px) {
    @content;
  }
}

@mixin _1420 {
  @media (max-width: 1420px) {
    @content;
  }
}

@mixin _1220 {
  @media (max-width: 1220px) {
    @content;
  }
}

@mixin _1100 {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin _950 {
  @media (max-width: 950px) {
    @content;
  }
}

@mixin _700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin _660 {
  @media (max-width: 660px) {
    @content;
  }
}

@mixin _520 {
  @media (max-width: 520px) {
    @content;
  }
}